# DB
DB_CONTAINER='test'
DB_HOST='test'
DB_NAME='test'
DB_PASSWORD='test'
DB_PORT='1111'
DB_URL='protocol://login:pass@domain:5433/db-name?schema=public'
DB_USER='test'
DB_VOLUME='test'

# API
YANDEX_API_OAUTH_TOKEN='test'
